<!DOCTYPE html>
<html>
	<head>
		<title>UMI Power Monitor</title>
		<meta name="viewport" content="width=device-width">
		<link rel="apple-touch-startup-image" href="launch6.png" media="(device-width: 375px)">
		<link rel="apple-touch-icon" href="resources/launch.png">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="style.css" title="UMI Style" type="text/css" media="screen" charset="utf-8">
		<script src="/socket.io/socket.io.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?1.24.0"></script>
		<script src="cost_data.js" type="text/javascript" charset="utf-8"></script>
		<script src="energy_data.js" type="text/javascript" charset="utf-8"></script>
		<script src="data.js" type="text/javascript" charset="utf-8"></script>
		<script src="src.js" charset="utf-8"></script>
		<script src="scream/dist/scream.js"></script>
	    <script src="brim/dist/brim.js"></script>
	    <script>
		    window.addEventListener('DOMContentLoaded', function () {
		        var scream,
		            brim;
		
		        scream = gajus.Scream({
		            width: {
		                portrait: 375,
		                landscape: 640
		            }
		        });
		
		        brim = gajus.Brim({
		            viewport: scream
		        });
		    });
		    var socket = io();
			socket.on('reading', function(data){
				alert("Hello! I am an alert box!!");
				var ref = $("device_id=1");
				$('.device_energy', ref).html(data.real);
				$('.device_cost', ref).html(data.real*.17);
			});
	</script>
	</head>
	<body>
		<!<div id="brim-mask">
	        <!Content displayed to the user when in full view. -->
	    <!</div>
	    <!<div id="brim-main">
	        <!-- Content displayed to the user when in minimal view.  -->
			<div id="header">
				<div class="header_part" id="header_left">
					<h2 id="header_day">THUR</h2>
					<h3 id="header_date">13 Nov 2014</h3>
				</div>
				<div class="header_part" id="header_center">
				</div>
				<div class="header_part" id="header_right">
					<img id="settings" src="resources/gear.png" height=25 width=25/>
				</div>
			</div>
			<div id="nav">
				<div class="nav_part" type="lights">
					<div class="nav_content_wrapper" style="margin-left: 10px;">
						<img class="nav_icon" src="resources/light.png" height="20" />
						<h2>Lights</h2>
					</div>
				</div>
				<div class="nav_part selected" type="data">
					<div class="nav_content_wrapper" style="margin-left: 20px;">
						<img class="nav_icon" src="resources/graph.png" height="20" />
						<h2>Data</h2>
					</div>
				</div>
				<div class="nav_part" type="sockets">
					<div class="nav_content_wrapper" style="margin-left: 10px;">
						<img class="nav_icon" src="resources/socket.png" height="20" />
						<h2>Sockets</h2>
					</div>
				</div>
			</div>
			<div class="utility_overview">
				<div class="overview_third">
					<h2>Avg. $/kWh</h2>
					<span>$</span><span id="overview_avg">0.17</span>
				</div>
				<div class="overview_third">
					<h2>Total</h2>
					<span id="overview_total_energy">11023 </span><span style="font-size: 15px;"> kWh</span>
				</div>
				<div class="overview_third">
					<h2>Total</h2>
					<span>$</span><span id="overview_total_cost">1742</span>
				</div>
			</div>
			<div id="lights" class="view">
				<div class="view_wrapper">
					
					<%for(var i = 0; i<lights.length; i++){%>
						<div class="device" device_id="<%=lights[i].id%>">
							<div class="device_half">
								<h1 style="position:relative; float: left;"><%=lights[i].room%></h1>
								<%if(lights[i].state == 1){%>
									<div class="switch" status="on">
										<div class="switch_wrap on">
								<%}else{%>
									<div class="switch" status="off">
										<div class="switch_wrap off">
								<%}%>
										<div class="switch_option">
											<span>ON</span>
										</div>
										<div class="switch_block">
										</div>
										<div class="switch_option">
											<span>OFF</span>
										</div>
									</div>
								</div>
							</div>
							<div class="device_half">
								
								<div class="data_wrap">
									<h1><span class="device_energy"><%=lights[i].energy%> kWh</span>&nbsp;&nbsp;&nbsp;<span class="device_cost">$<%=lights[i].cost%></span></h1>
								</div>
							</div>
						</div>
					<%}%>
				</div>
			</div>
			<div id="data" class="view">
				<div class="view_wrapper">
					<div class="device data_view" device_id="1">
						<div class="device_header">
							<div class="data_device_half">
								<h1>Kitchen</h1>
							</div>
							<div class="data_device_half">
								<div class="data_wrap">
									<h1><span class="device_energy">40.27 kWh</span>&nbsp;&nbsp;&nbsp;<span class="device_cost">$6.56</span></h1>
								</div>
								<div class="data_indicator">
								</div>
							</div>
						</div>
						<div class="device_data">
							<div style="position: relative; float: left; overflow: hidden; margin-bottom: 10px; margin-left: 20px;">
								<div class="data_type_button" onclick="$('#chart').trigger('change-type', [ 0 ])"></div> 
								<span style="position: relative; float: left; margin-left:10px; margin-right:10px;">Energy</span>
								<div class="data_type_button active" onclick="$('#chart').trigger('change-type', [ 1 ])"></div>
								<span style="position: relative; float: left; margin-left:10px; margin-right:10px;">Cost</span>
							</div>
							<div id="chart" style="width:340px;height:170px;" class="resizable"></div>
							<div id="year_nav" class="graph_nav time_nav_active">
								<div class="time_prev">
									<span>Last Year</span>
								</div>
								<div>
									<span>This Year</span>
								</div>
								<div class="time_next">
									<span>Next Year</span>
								</div>
							</div>
							<div id="month_nav" class="graph_nav">
								<div class="time_prev">
									<span>Last Month</span>
								</div>
								<div>
									<span>This Month</span>
								</div>
								<div class="time_next">
									<span>Next Month</span>
								</div>
							</div>
							<div id="week_nav" class="graph_nav">
								<div class="time_prev">
									<span>Last Week</span>
								</div>
								<div>
									<span>This Week</span>
								</div>
								<div class="time_next">
									<span>Next Week</span>
								</div>
							</div>
							<div id="day_nav" class="graph_nav">
								<div class="time_prev">
									<span>Last Day</span>
								</div>
								<div>
									<span>This Day</span>
								</div>
								<div class="time_next">
									<span>Next Day</span>
								</div>
							</div>
						</div>
					</div>
					<div class="device data_view" device_id="1">
						<div class="device_header">
							<div class="data_device_half">
								<h1>Living Room</h1>
							</div>
							<div class="data_device_half">
								<div class="data_wrap">
									<h1><span class="device_energy">14.23 kWh</span>&nbsp;&nbsp;&nbsp;<span class="device_cost">$2.73</span></h1>
								</div>
								<div class="data_indicator">
								</div>
							</div>
						</div>
						<div class="device_data">
							
						</div>
					</div>
					<div class="device data_view" device_id="1">
						<div class="device_header">
							<div class="data_device_half">
								<h1>Foyer</h1>
							</div>
							<div class="data_device_half">
								<div class="data_wrap">
									<h1><span class="device_energy">32.98 kWh</span>&nbsp;&nbsp;&nbsp;<span class="device_cost">$5.41</span></h1>
								</div>
								<div class="data_indicator">
								</div>
							</div>
						</div>
						<div class="device_data">
							
						</div>
					</div>
					<div class="device data_view" device_id="1">
						<div class="device_header">
							<div class="data_device_half">
								<h1>Office</h1>
							</div>
							<div class="data_device_half">
								<div class="data_wrap">
									<h1><span class="device_energy">25.84 kWh</span>&nbsp;&nbsp;&nbsp;<span class="device_cost">$3.13</span></h1>
								</div>
								<div class="data_indicator">
								</div>
							</div>
						</div>
						<div class="device_data">
							
						</div>
					</div>
					<div class="device data_view" device_id="1">
						<div class="device_header">
							<div class="data_device_half">
								<h1>Master Bedroom</h1>
							</div>
							<div class="data_device_half">
								<div class="data_wrap">
									<h1><span class="device_energy">13.65 kWh</span>&nbsp;&nbsp;&nbsp;<span class="device_cost">$2.63</span></h1>
								</div>
								<div class="data_indicator">
								</div>
							</div>
						</div>
						<div class="device_data">
							
						</div>
					</div>
				</div>
			</div>
			<div id="sockets" class="view">
				<div class="view_wrapper">
					
					<%for(var i = 0; i<sockets.length; i++){%>
						<div class="device" device_id="1">
							<div class="device_half">
								<h1 style="position:relative; float: left;"><%=sockets[i].socket%></h1>
								<%if(sockets[i].state == 1){%>
									<div class="switch" status="on">
										<div class="switch_wrap on">
								<%}else{%>
									<div class="switch" status="off">
										<div class="switch_wrap off">
								<%}%>
										<div class="switch_option">
											<span>ON</span>
										</div>
										<div class="switch_block">
										</div>
										<div class="switch_option">
											<span>OFF</span>
										</div>
									</div>
								</div>
							</div>
							<div class="device_half">
								
								<div class="data_wrap">
									<h1><span class="device_energy"><%=sockets[i].energy%> kWh</span>&nbsp;&nbsp;&nbsp;<span class="device_cost">$<%=sockets[i].cost%></span></h1>
								</div>
							</div>
						</div>
					<%}%>
				</div>
			</div>
			<div id="time">
				<div class="time_part" type="daily" onclick="$('#chart').trigger('change-domain', [ 3 ])">
					<h2>Daily</h2>
				</div>
				<div class="time_part" type="weekly" onclick="$('#chart').trigger('change-domain', [ 2 ])">
					<h2>Weekly</h2>
				</div>
				<div class="time_part" type="monthly" onclick="$('#chart').trigger('change-domain', [ 1 ])">
					<h2>Monthly</h2>
				</div>
				<div class="time_part selected" type="yearly" onclick="$('#chart').trigger('change-domain', [ 0 ])">
					<h2>Yearly</h2>
				</div>
			</div>
			<script src="graph.js" type="text/javascript" charset="utf-8"></script>
		<!</div>
	</body>
</html>
